 <style media="screen">

   .form-group {
    text-align: center;
    font-size:20px;
}

   input {
   max-width: 
   margin: auto;
   display: block;
   text-align: center;
}
 p {
   font-size: 20px;
   font-weight: bold;
   }
 span{
  font-size:12px;
  }
</style>

 {{#if login}}
  <script type="text/javascript">

  </script>
      <div class= "container">
   <h1><center><About Info</center></h1>
     <div class="form-group">
   <p id="about"></p>
 </div>
<h1> About Page </h1>  
<h2> Tutor Center provides students with an easier way to connect with tutors! </h2>
<ul style="list-style-type:square;">
<li> Give recommendations for students to seek tutroing for future courses based on students current tutoring needs.</li>
<li> Able to leave notes for tutor while making an appointment.</li>
<li> Able to view list of appointments.</li>
<li> Provide tutors a way to create their schedule.</li>

 </div>
 {{else}}
  <h1 align="center">You need to login to view this page. </h1>
{{/if}}


   
