<style media="screen">
  .form-group {
    text-align: center;
  }

  input {
    max-width: 20em;
    margin: auto;
    display: block;
    text-align: center;
  }
</style>
{{#if admin}}
<script type="text/javascript">
  $(function () {
    // update user to give them tutor privileges
    $("#submit_Add").on('click', function () {
      var data = {
        ppu_id: $("#ppu_id_Add").val()
      }

      $.ajax({
        type: 'post',
        url: 'add_tutor',
        data: data,
        success: function(response) {
          if (response.success == true) {
            alert("Privileges were added to new tutor!");
            $("#ppu_id_Add").val("")
            //location.assign("tutor_view")
          }else{
            alert("Error");
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });

    $("#submit_Del").on('click', function () {
      var data = {
        ppu_id: $("#ppu_id_Del").val()
      }
      $.ajax({
        type: 'post',
        url: 'remove_tutor',
        data: data,
        success: function(response) {
          if (response.success == true) {
            alert("Privileges were removed from tutor");
            $("#ppu_id_Del").val("");
            //location.assign("tutor_view")
          }else{
            alert("Error");
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });

  });
</script>
<div class="container">
  <!-- Add Tutor privileges -->
  <h2><center>Add a Tutor</center></h2>
  <div class="form-group">
   <label class="control-label " for="ppu_id_Add">PPU ID: </label>
    <input class="form-control" id="ppu_id_Add" name="ppu_id_Add" type="text" placeholder="PPU ID"/>
  </div>
  <div class="form-group">
   <div>
    <button id="submit_Add" class="btn btn-primary"  name="submit" type="submit">Add</button>
   </div>
  </div>

  <br>
  <br>

  <!-- Remove Tutor Privileges -->
  <h2><center>Remove Tutor Privileges</center></h2>
  <div class="form-group">
   <label class="control-label " for="ppu_id_Del">PPU ID: </label>
    <input class="form-control" id="ppu_id_Del" name="ppu_id_Del" type="text" placeholder="PPU ID"/>
  </div>
  <div class="form-group">
   <div>
    <button id="submit_Del" class="btn btn-danger"  name="submit" type="submit">Remove</button>
   </div>
  </div>

</div>
{{else}}
  <h1 align="center">You need to login to view this page.</h1>
{{/if}}
