<style media="screen">
  button {
    margin-left: 50pt;
    margin-top: 50pt;
  }

</style>
{{#if login}}
<script type="text/javascript">
  // Confirmation Page to create an appointment with tutor
  $(function() {
    $("#confirm").on('click', function(e) {
      var urlParams = new URLSearchParams(window.location.search);
      var data = {
        schedule_id: urlParams.get('schedule_id'),
        course_id: urlParams.get('course_id'),
        tutor_id: urlParams.get('tutor_id'),
        date: urlParams.get('date'),
        start: urlParams.get('start'),
        end: urlParams.get('end'),
        notes: $("#notes").val()
      };
      console.log(data);
      $.ajax({
        type: 'post',
        url: 'confirm_appointments',
        data: data,
        success: function(data) {
          console.log(data);
          location.assign("schedule");
        },
        error: function() {
          console.log("Error");
        }
        });
      });

    $("#cancel").on('click', function() {
      location.assign("schedule");
    });
  });

</script>


<div class="container-fluid">
  <button id="cancel" type="button" class="btn btn-danger">Go Back</button>
  <button id="confirm" type="button" class="btn btn-primary">Confirm Appointment</button>
  <div class="form-group">
    <label for="notes">Enter some notes...</label>
    <textarea class="form-control" id="notes" rows="3" placeholder="Leave a note for your appointment..."></textarea>
</div>
</div>
{{else}}
  <h1 align="center">You need to login to view this page.</h1>
{{/if}}
