<style media="screen">

  .form-group {
    text-align: center;
  }

  input {
    max-width: 20em;
    margin: auto;
    display: block;
    text-align: center;
  }

  .appt_item {
    max-width: 35em;
    margin: auto;
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }

  p {
    font-size: 22px;
    font-weight: normal;
  }

</style>
{{#if login}}
<script type="text/javascript">
  // Confirmation Page to create an appointment with tutor
  $(function() {
    var urlParams = new URLSearchParams(window.location.search);
    $("#confirm").on('click', function(e) {
      var data = {
        schedule_id: urlParams.get('schedule_id'),
        course_id: urlParams.get('course_id'),
        tutor_id: urlParams.get('tutor_id'),
        date: urlParams.get('date'),
        start: urlParams.get('start'),
        end: urlParams.get('end'),
        notes: $("#notes").val()
      };
      console.log(data);
      $.ajax({
        type: 'post',
        url: 'confirm_appointments',
        data: data,
        success: function(data) {
          console.log(data);
          location.assign("tutor_view");
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
        });
      });

    $("#cancel").on('click', function() {
      location.assign("schedule");
    });
  });

</script>
<div class="container">
  <h2><center>Confirm Appointment</center></h2>
  <div class="form-group">
    <button id="cancel" type="button" class="btn btn-danger">Go Back</button>
    <button id="confirm" type="button" class="btn btn-primary">Confirm Appointment</button>
  </div>
  <!--Tutors info-->
  <!-- <span class="appt_info">Tutor Name:  <p id="name" style="display:inline;"></p></span> <br>
  <span class="appt_info">Date:  <p id="date1" style="display:inline;"></p></span> <br> -->



  <!--  Note-->
  <div class="form-group">
   <label class="control-label " for="notes">Leave A Note</label>
    <textarea class="form-control" id="notes" rows="3" placeholder="Leave a note for your appointment..."></textarea>
  </div>

</div>

{{else}}
  <h1 align="center">You need to login to view this page.</h1>
{{/if}}
