<style>
/* .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
  font-family: Arial, Helvetica, sans-serif;
  color: green

}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
  color: white !important;
}

.container-fluid {
  width: 500px;
  margin: auto;
  margin-top: 10px;

}

.row{
  width: 600px;
  background-color: #ffffff;
  display: block;
  float: left;
  margin-right: 50px;
} */

.form-group {
  text-align: center;
}

input {
  max-width: 20em;
  margin: auto;
  display: block;
  text-align: center;
}
  .form-group {
    text-align: center;
  }
  input {
    max-width: 20em;
    margin: auto;
    display: block;
    text-align: center;
  }

</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('#login').on('submit', function(e) {
      e.preventDefault();
      $.ajax({
        type: 'post',
        url:'login',
        data: {
          user: $('#user').val(),
          pwd: $('#pwd').val(),
        },
        success: function(response) {
          if (response.success == true) {
            location.assign("schedule");
          }else{
            alert("Incorrect Password!");
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });
  });

</script>
<!-- <div class="bootstrap-iso">
 <div class="container-fluid">
   <h3>Welcome!</h3>
  
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form action="login"  method="POST" id="login">
     <div class="form-group ">
      <label class="control-label " for="user">Username</label>
       <input class="form-control" id="user" name="user" placeholder="test" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="pwd">Password</label>
       <input class="form-control" id="pwd" name="pwd" placeholder="Skip for now" type="password"/>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">Submit</button>
      </div>
     </div>
     <div class="form-group">
      <div>
       <a href="mailto:tutoring@pointpark.edu">Having Trouble Signing In?</a>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div> -->
<div class="container">
  <form action="login"  method="POST" id="login">
    <h2><center>Welcome!</center></h2>
    <div class="form-group">
     <label class="control-label " for="user">Username: </label>
      <input class="form-control" id="user" name="user" type="text" placeholder="test"/>
    </div>
    <div class="form-group ">
     <label class="control-label " for="pwd">Password: </label>
      <input class="form-control" id="pwd" name="pwd" type="text" placeholder="Skip for now"/>
    </div>

    <div class="form-group">
     <div>
      <button id="submit" class="btn btn-primary"  name="submit" type="submit">Submit</button>
     </div>
    </div>

    <div class="form-group">
     <div>
      <a href="mailto:tutoring@pointpark.edu">Having Trouble Signing In?</a>
     </div>
    </div>
</form>
</div>
