<style>
  .form-group {
    text-align: center;
  }

  input {
    max-width: 20em;
    margin: auto;
    display: block;
    text-align: center;
  }

</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('#login').on('submit', function(e) {
      e.preventDefault();
      $.ajax({
        type: 'post',
        url:'login',
        data: {
          user: $('#user').val(),
          pwd: $('#pwd').val(),
        },
        success: function(response) {
          if (response.success == true) {
            location.assign("schedule");
          }else{
            alert("Incorrect Password!");
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });
  });

</script>
<div class="container">
  <form action="login"  method="POST" id="login">
    <h2><center>Welcome!</center></h2>
    <div class="form-group">
      <p id="date"></p>
    </div>
    <div class="form-group">
     <label class="control-label " for="user">Username: </label>
      <input class="form-control" id="user" name="user" type="text" placeholder="test"/>
    </div>
    <div class="form-group ">
     <label class="control-label " for="pwd">Password: </label>
      <input class="form-control" id="pwd" name="pwd" type="text" placeholder="Skip for now"/>
    </div>

    <div class="form-group">
     <div>
      <button id="submit" class="btn btn-primary"  name="submit" type="submit">Submit</button>
     </div>
    </div>

    <div class="form-group">
     <div>
      <a href="mailto:tutoring@pointpark.edu">Having Trouble Signing In?</a>
     </div>
    </div>
</form>
</div>
