<style media="screen">

</style>
{{#if login}}
<script type="text/javascript">

</script>
<div class="container">
  <h2><center>Schedule Info</center></h2>
</div>

{{else}}
<h1 align="center">You need to login to view this page.</h1>
{{/if}}
