<style media="screen">

  .form-group {
    text-align: center;
  }

  input {
    max-width: 20em;
    margin: auto;
    display: block;
    text-align: center;
  }
  p {
    font-size: 21px;
    font-weight: bold;
  }

</style>
{{#if login}}
<script type="text/javascript">
  $(function() {
    $('#add_phone').on('click', function() {

      var data = {
        phone_num: formatPhoneNumber($('#phone').val())
      }

      $.ajax({
        type: 'post',
        url: 'save_phone',
        data: data,
        success: function(response) {
          location.assign(".");
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
        }
      });
    });

    function formatPhoneNumber(phoneNumberString) {
      var cleaned = ('' + phoneNumberString).replace(/\D/g, '')
      var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
      if (match) {
        return match[1] + match[2] + match[3]
      }
      return null
    }
  });

</script>
<div class="container">
  <h2><center>Preferences</center></h2>
  <div class="form-group">
    <p id="msg">Enter phone number if you want to receive notifications.</p>
  </div>

  <div class="form-group">
   <label class="control-label " for="phone">Phone Number: </label>
    <input class="form-control" id="phone" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required/>
    <span class="note">Format: 123-456-7890</span>
  </div>

  <div class="form-group">
   <div>
    <button id="add_phone" class="btn btn-primary " name="submit" type="submit">Submit</button>
   </div>
  </div>


</div>
{{else}}
  <h1 align="center">You need to login to view this page.</h1>
{{/if}}
