<style media="screen">
  .btn-primary {
    width: 30%;
    margin-left: 350pt;
  }

</style>
{{#if tutor}}
  <script type="text/javascript">
    $(function () {
      // setTimeout(function(){
       $('#start').datetimepicker();
       $('#end').datetimepicker();
       $('#submitBtn').on('click', function() {
         var data = {
           course: $('#course').val(),
           start_time: $("#start").find("input").val(),
           end_time: $("#end").find("input").val()
         };
         $.ajax({
           type: 'post',
           url:'save_schedule',
           data: data,
           success: function(response) {
             if (response.success != false) {
               console.log(response.success);
               location.assign("tutor_view");
             }else {
               console.log("Nothing to show");
             }

           },
           error: function() {
            console.log("Error");
           }
         });
       });

       // },1000)
     });
  </script>
  <div class="container">
     <div class="panel panel-primary">
        <div class="panel-heading">Set Schedule and Select Courses</div>
        <div class="panel-body">
           <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                    <label class="control-label">Course Code</label>
                    <input type="text" class="form-control" name="course" id="course" placeholder="CMPS 480, ...">
                 </div>
              </div>
           </div>
           <div class="row">
              <div class='col-md-6'>
                 <div class="form-group">
                    <label class="control-label">Shift Start</label>
                    <div class='input-group date' id='start'>
                       <input type='text' class="form-control" />
                       <span class="input-group-addon">
                       <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                 </div>
              </div>

              <div class='col-md-6'>
                 <div class="form-group">
                    <label class="control-label">Shift end</label>
                    <div class='input-group date' id='end'>
                       <input type='text' class="form-control" />
                       <span class="input-group-addon">
                       <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                 </div>
              </div>
           </div>
           <input id="submitBtn" type="submit" class="btn btn-primary" value="Submit">
        </div>
     </div>
  </div>
{{else}}
  <h1 align="center">You need to login to view this page.</h1>
{{/if}}
