<style media="screen">

  .input-group {
    margin-left: 85%;
    width: 250px;
    padding: 10px;
  }

  #calendar {
      max-width: 900px;
      margin: 0 auto;
      /* width: 1200pt;
      margin: auto;
      margin-top: 20pt; */
  }


</style>
{{#if login}}
<script type="text/javascript">
  // Shows a list of tutors and avaiblity given a course code input.
  // Still working on not showing the already scheduled appointments
  $(function() {
    console.log({{login}});
    $('#find_tutor').on('submit', function(e) {
      e.preventDefault();
      $.ajax({
        type: 'post',
        url:'find_tutor',
        data: $(this).serialize(),
        success: function(data) {
          if (data.success != false) {
            $("calendar").show();
            // prepareIntervals
            var evtCount = data.success.length;
            var events = [];
            for (var i = 0; i < evtCount; i++) {
              events.push({
                schedule_id: data.success[i].schedule_id,
                course_id: data.success[i].course_id,
                tutor_id: data.success[i].tutor_id,
                start: data.success[i].date.slice(0,11) + data.success[i].start,
                end: data.success[i].date.slice(0,11) + data.success[i].end
              });
            }
            console.log(events);
            loadCal(events);
          }else{
            console.log("no data returned");
            $("calendar").remove();
          }
        },
        error: function() {
          console.log("Error");
        }
      });
      // Should stop ajax from firing twice
      return false;
    });

    function loadCal(evtArr) {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        allDaySlot: false,
        editable: false,
        selectable: false,
        selectHelper: false,
        weekends: false,
        height: 800,
        minTime: "07:00:00",
        maxTime: "21:00:00",
        defaultView: "agendaWeek",
        eventColor: 'green',
        events: evtArr,
        eventTextColor: 'black',
        eventAfterRender: function(event, elt, view ) {
          var formattedTime = moment(event.start, event.end, 'HH:mm').format('HH:mm');
          if(elt.find(".fc-event-title").length === 0) {
            elt.find(".fc-event-time").text(formattedTime + " - " + event.title);
          }else {
            elt.find(".fc-event-time").text(formattedTime);
          }
          elt.find('.fc-title').after("<span>"+ event.description +"</span>");
        },
        eventClick: function(event) {
           var date = event.start._i.slice(0, 10);
           var start = event.start._i.slice(11, 19);
           var end = event.end._i.slice(11, 19);
           var data = {
             'schedule_id': event.schedule_id,
             'course_id': event.course_id,
             'tutor_id': event.tutor_id,
             'date': date,
             'start': start,
             'end': end
             // 'course_id': event.course_id,
           };
           var querystring = encodeQueryData(data);
           location.assign("create_appointment?" + querystring);
         },
        selectOverlap: function(event) {
          return ! event.block;
        }
      });
    }


    function encodeQueryData(data) {
      var ret = [];
      for (let d in data)
      ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
      return "&" + ret.join('&');
    }

    function formatDate(date) {
      var d = new Date(date);
      var month = '' + (d.getMonth() + 1);
      var day = '' + d.getDate();
      var year = d.getFullYear();
      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;
      return [year, month, day].join('-');
    }


  });

</script>
<form action="avaible_search"  method="POST" id="find_tutor">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input id="course_search" name="course_search" placeholder="CMPS 480" type="text" class="form-control">
          <span class="input-group-btn">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
          </span>
        </div>
      </div>
    </div>
</form>

<div id="calendar"></div>

{{else}}
  <h1 align="center">You need to login to view this page.</h1>
{{/if}}
