<style media="screen">
  #calendar {
    width: 1200px;
    margin: auto;
    margin-top: 20pt;
  }
</style>

<script type="text/javascript">
  // https://fullcalendar.io/docs
  $(function() {
    // setTimeout(function() {}, 5000);
    $('#calendar').fullCalendar({
      selectable: true,
      weekends: false,
      height: 800,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      // dayClick: function(date) {
      //   alert('clicked ' + date.format());
      // },
      select: function(startDate, endDate) {
        var events = [];
            events.push({
              start: startDate.format(),
              end: endDate.format()
              // title: meeting_title
            });
            console.log(events);

        // alert('selected ' + startDate.format() + ' to ' + endDate.format());
      }
    });







  });




</script>

<div id="calendar"></div>
