<style media="screen">
  .form-group {
       padding: 20px;
  }

  .input-group {
       margin: 0 auto;
       width: 250px;
       align-content: center;

  }

  #calendar {
      max-width: 900px;
      margin: 0 auto;
      /* width: 1200pt;
      margin: auto;
      margin-top: 20pt; */
  }


</style>

<script type="text/javascript">
  // Showing the Table to the Student
  // https://fullcalendar.io/docs
  $(function() {
    $('#find_tutor').on('submit', function(e) {
      e.preventDefault();
      $.ajax({
        type: 'post',
        url:'find_tutor',
        data: $(this).serialize(),
        success: function(data) {
          if (data.success) {
            var evtCount = data.success.length;
            var events = [];
            for (var i = 0; i < evtCount; i++) {
              events.push({title: data.success[i].first_name + " " + data.success[i].last_name, start: data.success[i].date.slice(0,11) + data.success[i].start, end: data.success[i].date.slice(0,11) + data.success[i].end, description: data.success[i].course_code + " " + data.success[i].course_name})
            }
            loadCal(events);
          }else{
            console.log("no data returned");
          }
        },
        error: function() {
          console.log("Error");
        }
      });
    });

    function loadCal(evtArr) {
      console.log(evtArr);
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        editable: false,
        selectable: false,
        selectHelper: false,
        weekends: false,
        height: 800,
        minTime: "07:00:00",
        maxTime: "21:00:00",
        defaultView: "agendaWeek",
        eventColor: 'green',
        events: evtArr,
        eventAfterRender: function(event, elt, view ) {
          var formattedTime = moment(event.start, event.end, 'HH:mm').format('HH:mm');
          if(elt.find(".fc-event-title").length === 0) {
            elt.find(".fc-event-time").text(formattedTime + " - " + event.title);
          }else {
            elt.find(".fc-event-time").text(formattedTime);
          }
          elt.find('.fc-title').after("<span>"+ event.description +"</span>");
        },
        eventClick: function(event) {
           // console.log(event);
           // var data = { 'first name': 'George', 'last name': 'Jetson', 'age': 110 };
           var querystring = encodeQueryData(event);
           // console.log(querystring);
             location.assign("create_appointment?schedule_id="+ querystring);
             // Can't you just use a URL parameter? `create_appointment?schedule_id=...` where `schedule_id` refers to the availability of a tutor (for a given date and start and end time). Or something like that.
         }
      });
    }


    function encodeQueryData(data) {
      var ret = [];
      for (let d in data)
      ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
      return ret.join('&');
    }


  });

</script>
<form action="avaible_search"  method="POST" id="find_tutor">
<form>
  <div class="form-group row">
    <div class="col-8">
      <div class="input-group">
        <input id="course_search" name="course_search" placeholder="CMPS 480" type="text" class="form-control">
        <div class="input-group-append">
          <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="calendar"></div>
