<style media="screen">

  #entry {
    margin-left: 100px;
    padding: inherit;
  }

  #result {
    margin-left: 100px;
    padding: inherit;
  }

  .weekDays-selector input {
    display: none!important;
  }

  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 8px;
    background: #dddddd;
    height: 40px;
    width: 35px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }

  .weekDays-selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
  }

</style>
<link rel="stylesheet" href="https://www.cssscript.com/demo/animated-customizable-range-slider-pure-javascript-rslider-js/css/rSlider.min.css">
<script src="https://www.cssscript.com/demo/animated-customizable-range-slider-pure-javascript-rslider-js/js/rSlider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    // init
    timeBar();

    function timeBar() {
      var timeSlider = new rSlider({
        target: '#time_range',
        values: ['8:00 AM', '8:30 AM', '9:00 AM', '9:30 AM', '10:00 AM', '10:30 AM', '11:00 AM', '11:30 AM', '12:00 PM', '12:30 PM', '1:00 PM', '1:30 PM', '2:00 PM', '2:30 PM', '3:00 PM', '3:30 PM', '4:00 PM', '4:30 PM', '5:00 PM', '5:30 PM', '6:00 PM', '6:30 PM', '7:00 PM' ],
        step: 15,
        range: true,
        set: ['11:00 AM', '2:00 PM'],
        tooltip: true, // shows current vals
        scale: false,
        labels: false,
        width: null // not sure what other value goes here
        // onChange: function (vals) {console.log(vals);}
        // console.log(timeSlider.getValue());
      });
    }

    $('#find_tutor').on('submit', function(e) {
      $('#result').show();
      e.preventDefault();
      $.ajax({
        type: 'post',
        url: 'find_tutor',
        data: $(this).serialize(),
        success: function (response) {

          $("#entry").hide();
          var button = $("<button>");
          $(document.body).append(button);
          button.append("New Search");
          button.addClass("btn btn-secondary");
          button.click(function() {
            document.location.href = "/student_view";
          });
          // Building table
          console.log(response.success.tutor_id);
          var k = 0;
          var table_body = '<table border="1" id="example"><thead><tr><th>ID</th><th>Name</th><th>Date</th><th>Days</th><th>Hours</th></tr></thead><tbody>';
          for (j in response) {
            // for(i = 0; i < response.length; i++) {
              table_body+= '<tr>';
              table_body += '<td>';
              table_body += response.success["tutor_id"];
              table_body += '</td>';

              table_body += '<td>';
              table_body += response.success["tutor_name"];
              table_body += '</td>';

              table_body += '<td>';
              table_body += response.success["date"];
              table_body += '</td>';

              table_body += '<td>';
              table_body += response.success["day_avaible"];
              table_body += '</td>';

              table_body += '<td>';
              table_body += response.success["hour_avaible"];
              table_body += '</td>';
              table_body+='</tr>';
            // }
            // k++;
          }
          table_body += '</tbody></table>';
          $('#result').html(table_body);
        }
      });
      // e.preventDefault();
      // $.ajax({
      //   type: 'post',
      //   url:'find_tutor',
      //   data: $(this).serialize(), // time range data might looked wierd..
      //   success: function(response) {
      //     if (response.success) {
      //       // console.log("Tutor Found");
      //       // TODO: possibly create a dynamic tutor that loads all the tutors found in search
      //             // Then make each tutor clickable, open modal for student to schedule with them...
      //     }else{
      //       // console.log("Error! Unable to find tutor, or none available from search");
      //     }
      //   }
      // });
    });

  });
</script>
<div class="bootstrap-iso">
 <div class="container-fluid" id="entry">
   <h3>Find a Tutor.</h3>
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form action="find_tutor"  method="POST" id="find_tutor">
      <!-- Location -->
      <div class="form-group">
        <label class="control-label" for="center_location">Location</label>
        <select class="select form-control" id="center_location" name="center_location">
          <option value="Math Center">Math Center</option>
          <option value="Writing Center">Writing Center</option>
          <option value="1 on 1">1 on 1</option>
        </select>
      </div>

      <!-- Course -->
     <div class="form-group">
      <label class="control-label" for="course_code">Course</label>
      <input class="form-control" id="course_code" name="course_code" type="text"/>
     </div>

     <!-- Hour Range -->
     <div class="form-group">
       <label class="control-label" for="time_range">Hours</label>
       <br>
       <br>
       <input class="form-control" name="time_range" type="text" id="time_range" />
     </div>

     <!-- Day selector -->
     <div class="form-group">
       <div class="weekDays-selector">
         <label for="day_selected" class="control-label">Select Days</label>
         <input type="checkbox" id="weekday_mon" class="weekday" />
         <label for="weekday_mon">Mon</label>
         <input type="checkbox" id="weekday_tue" class="weekday" />
         <label for="weekday_tue">Tue</label>
         <input type="checkbox" id="weekday_wed" class="weekday" />
         <label for="weekday_wed">Wed</label>
         <input type="checkbox" id="weekday_thu" class="weekday" />
         <label for="weekday_thu">Thu</label>
         <input type="checkbox" id="weekday_fri" class="weekday" />
         <label for="weekday_fri">Fri</label>
         <input type="checkbox" id="weekday_sat" class="weekday" />
       </div>
     </div>

     <div class="form-group">
       <button class="btn btn-primary " name="submit" type="submit">Find</button>
     </div>

    </form>
   </div>
  </div>
 </div>
 <div class="container-fluid" id="result">

   <!-- <table>
     <tbody>
       <tr>
         <td>
           <div class="dayofweek date">
             will hold the day of week and date of tutoring

           </div>
           <div class="name">
             name of tutor
             <div class="link">
               list of tutors hours in 30 min increments
               opens a model to confirm session

               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmSession">
                 Launch demo modal
               </button>

               <button type="button" class="btn btn-link" data-toggle="modal" data-target="">${tutors hours}</button>

               <div class="modal fade" id="confirmSession" tabindex="-1" role="dialog" aria-labelledby="confirmSessionLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title" id="confirmSessionLabel">Confirm 1 on 1</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                   </div>
                 </div>
               </div>
             </div>

           </div>
         </td>
       </tr>
     </tbody>
   </table> -->
 </div>
</div>
