<body>
  <h2>Student Log</h2>
  <h4>Allows Tutor to create a custom query view past students.</h4>
  Gives tutor option to create a query option[date/time, student name, course, ]
 </body>

 Date/time
 Student name
 Reason
 Subject
 Tutor
 Center
