








<body>
  <h2>Tutor Page</h2>
  <h4>Option to continue as tutor or switch to student view</h4>
  <ul>
    <li>Select course specialties</li>
    <li>Edit scheulue with days and hours of aviabilty</li>
    <li>Monitor Students which they have tutored</li>
    <li>Start students tutoing session</li>
  </ul>
</body>
