<style media="screen">
  .form-group {
       padding: 20px;
  }

  .input-group {
       margin: 0 auto;
       width: 250px;
       align-content: center;

  }

  #calendar {
      max-width: 900px;
      margin: 0 auto;
      /* width: 1200pt;
      margin: auto;
      margin-top: 20pt; */
  }


</style>
<script type="text/javascript">
  //https://stackoverflow.com/questions/38790520/mapping-events-to-fullcalendar-using-json/38831073#38831073
  $(function() {

  });
</script>


<div id="calendar"></div>
