<style media="screen">

  .container-fluid {
    margin-left: 100px;
    padding: inherit;
  }
</style>


<body>
  <div class="container-fluid">
  <h3>View/Edit all tutors (Admin).</h3>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
      </div>
    </div>
  </div>
</body>
