<style media="screen">

  .appt_item {
    max-width: 35em;
    margin: auto;
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }

  p {
    font-size: 22px;
    font-weight: normal;
  }

  textarea {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  #save_note {
    margin: auto;
    display: block;
    background-color: #4286f4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 13px;
    border-radius: 6px;
  }

  #cancel_appointment {
    margin: auto;
    display: block;
    background-color: #af0a0a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 13px;
    border-radius: 6px;
  }

  #show_all {
    margin: auto;
    display: block;
    background-color: #af0a0a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 11px;
    border-radius: 6px;
  }

</style>
{{#if login}}
<script type="text/javascript">
  // Confirmation Page to create an appointment with tutor
  $(function() {
    var urlParams = new URLSearchParams(window.location.search);
    var data = {
      appointment_id: urlParams.get('id')
    };
    console.log(data.appointment_id);
    $.ajax({
      type: 'post',
      url: 'view_appts_more_detail',
      data: data,
      success: function(data) {
        $("#date").text(data.success[0].date.slice(0,10));
        $("#start_time").text(data.success[0].start_time);
        $("#end_time").text(data.success[0].end_time);
        $("#notes").text(data.success[0].notes != null ? data.success[0].notes : "No Notes for this appointment.");
        $("#first_name").text(data.success[0].first_name);
        $("#last_name").text(data.success[0].last_name);
        $("#course_code").text(data.success[0].course_code);
        $("#course_name").text(data.success[0].course_name);
        var is_tutor = {{tutor}};
        if(is_tutor == 1) {
          $("#info").append($('<textarea style="padding-left:0px" />'));
          $('textarea').text(data.success[0].tutor_notes);
          var button = $("<br/>" + "<button>");
          var btnShowAllNotes = $("<br/>" + "<button>");
          $("#info").append(button, btnShowAllNotes);
          button.html('Save');
          button.attr('id', 'save_note');




          // Save a note
          button.on('click', function(e) {
            if (e.which == 220) return false;
            var updatedNote = {
              id: urlParams.get('id'),
              note: $('textarea').val()
            };
            $.ajax({
              type: 'post',
              url: 'update_tutor_note',
              data: updatedNote,
              success: function(resp) {
                console.log(resp);
                location.assign("tutor_view");
              },
              error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
              }
            });
          });

          // Show all notes a tutor saved to a students
          btnShowAllNotes.html('Show All Notes with Student');
          btnShowAllNotes.attr('id', 'show_all');

          btnShowAllNotes.on('click', function(e) {
            alert("Show all notes given a student");
            // show the query that returns all the Notes

          });

        }
        else {
          // Allow student to have a option to cancel appointment
          // make sure appointment is not within 24 hours to cancel
          var currentMoment = new Date();
          var scheduledApp = new Date(data.success[0].date.slice(0,11) + data.success[0].start_time);
          var button = $("<br/>" + "<button>");
          button.attr('id', 'cancel_appointment');
          $("#info").append(button);
          button.html('Cancel Appointment');
          $("button").on('click', function(e) {
            if ((currentMoment.getTime() - scheduledApp.getTime()) > 86400000) { // 86400000 = 24 hours
              var appt_id = {
                id: urlParams.get('id')
              }

              $.ajax({
                type: 'post',
                url: 'cancel_appointment',
                data: appt_id,
                success: function(resp) {
                  alert("Are you sure you want to Cancel the Appointment?")
                  location.assign("tutor_view");
                },
                error: function(jqXHR, textStatus, errorThrown) {
                  console.log(textStatus, errorThrown);
                }
              });
            }
            else {
              alert("Cannot cancel appointment if appointment is within 24 hours")
            }
          });
        }
      },
      error: function() {
        console.log("Error");
      }
    });
  });

</script>
<div class="container" id="info">
  <h2><center>Appointment Info</center></h2>
  <span class="appt_item">Date:  <p id="date" style="display:inline;"></p></span> <br>
  <span class="appt_item">Time In:  <p id="start_time" style="display:inline;"></p></span> <br>
  <span class="appt_item">Time Out:  <p id="end_time" style="display:inline;"></p></span> <br>
  <span class="appt_item">First Name:  <p id="first_name" style="display:inline;"></p></span> <br>
  <span class="appt_item">Last Name:  <p id="last_name" style="display:inline;"></p></span> <br>
  <span class="appt_item">Course Code:  <p id="course_code" style="display:inline;"></p></span> <br>
  <span class="appt_item">Course Name:  <p id="course_name" style="display:inline;"></p></span> <br>
  <span class="appt_item">Student Notes:  <p id="notes" style="display:inline;"></p></span> <br>
</div>

<div class="container" id="extra_info">
</div>

{{else}}
  <h1 align="center">You need to login to view this page.</h1>
{{/if}}
